.formLabel, .formHeading, .formInput  {
    color: #1F5AAC;
    text-align: center;
}

.formInput {
    width: 80px;
    height: 80px;
    border-radius: 15px;
    border: 1px solid #1F5AAC;
    font-size: 30px;
    font-weight: bold;
}

.formInput::placeholder {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

.optionWrapper {
    display: flex;
    flex-direction: row;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}